body{background:white

}

h2{	font-weight:bold;
	font-size:35px;
	text-align:center;
}

h3{ font-weight: bold;
	font-size:25px;
	text-align:center;
}

p{
	font-size:15px;	
	text-align:center;
}

a{	
	font-size:;
	text-align:center;
}


.caja {
	font-family:helvetica;
	font-weight:bold;
	position:fixed;
	right:; 
	left:;
	text-shadow:0.4px 0.4px 0.4px #000;
	background:#75D238;
	color:#0C958D;
	float:left;
}

.articulo1{

	font-family:helvetica;
	font-weight:bold;
	right:100px; 
	left:300px;
	text-shadow:0.4px 0.4px 0.4px #000;
	background:#22D0C6;
}

footer{

	font-family:helvetica;
	font-weight:bold;
	position:absolute; 
	right:; 
	left:600px;
	text-shadow:0.4px 0.4px 0.4px #000;
	background:#22D0C6;

	
}



